<div id="form-wrapper">
    <form>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Length (inches)</mat-label>
              <input matInput>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Width (inches)</mat-label>
              <input matInput>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Height (inches)</mat-label>
              <input matInput>
            </mat-form-field></td>
          </tr></table>
        <button mat-raised-button color="primary" type="submit">Calculate</button>
    </form>
</div>